* {
  box-sizing: border-box;
}

body {
  background-color: #2C3539;
  margin: 0 auto;
  font-family: 'Orbitron', sans-serif;
}

header {
  margin: 0 auto;
  padding: 20px 0 10px;
  text-align: center;
  background-color: grey;
}

h1 {
  text-transform: uppercase;
  font-size: 55px;
  font-weight: bold;
}

main {
  max-width: 1200px;
  margin: 10px auto;
  padding: 10px 0;
  background-color: #b1b1b3;
  text-align: center;
}
.info-bar {
  margin: 0 auto;
  padding: 8px 0 6px;
  max-width: 85%;
  font-size: 20px;
  font-weight: bold;
  color: #03a30b;
  background-color: #2c2d2d;
  border: 2px solid black;
  display: block;
}
.player-column,
.tracking-column {
  display: inline-block;
}

/*CSS for the ship image boxes:*/
.ship-images {
  max-width: 420px;
  padding-bottom: 15px;
  text-align: center;
  /*border: 2px solid maroon;*/
  border-top: 5px solid #202121;
  border-right: 5px solid #202121;
  border-left: 5px solid #202121;
  border-radius: 5px 5px 0 0;
  text-transform: uppercase;
  background-color: grey;
  position: relative;
  top: 5px;
  z-index: 1;
}
.ship-images h2 {
  font-size: 20px;
  padding-top: 10px;
}
.ship-images img {
  max-width: 80%;
}
.ship-images p {
  font-size: 12px;
}
.img-col-1-1 {
  margin-top: -20px;
  text-align: left;
  padding-left: 20px;
  width: 99.5%;
}
.img-col-1-1 img {
  max-width: 60%;
}
.img-col-1-1 p {
  display: inline-block;
}
.img-col-3-5 {
  width: 59.4%;
}
.img-col-2-5 {
  width: 39.5%;
}
.img-col-1-2 {
  width: 49.4%;
}
.img-col-1-1,
.img-col-3-5,
.img-col-2-5,
.img-col-1-2 {
  display: inline-block;
  vertical-align: bottom;
  border-radius: 5px;
  position: relative;
}
/*End of CSS for the ship image boxes:*/

.grid-container {
  font-weight: bold;
  border: 6px solid #202121;
  border-left: 5px solid #202121;
  background-color: #202121;
  border-radius: 0 0 6px 6px;
  position: relative;
  z-index: 2;
}

/*CSS for the grid labels*/
.grid-x-axis {
  margin: -1px;
  text-align: right;
  color: #03a30b;
  background-color: #2c2d2d;
  border: 1px solid black;
}
.grid-number-labels {
  font-size: 19px;
  width: 45px;
  height: 45px;
  text-align: center;
  line-height: 45px;
  border: 1px solid black;
  border-right: none;
  display: inline-block;
}

.grid-y-axis {
  margin-right: px;
  display: inline-block;
  vertical-align: top;
  color: #03a30b;
  background-color: #2c2d2d;
  /*border: 1px solid green;*/
}
.grid-letter-labels {
  font-size: 19px;
  width: 45px;
  height: 45px;
  line-height: 45px;
  border: 1px solid black;
}
/*End of CSS for the grid labels*/

/*CSS for the grids:*/
.grid {
  width: 450px;
  display: inline-block;
}
.my-grid {
  position: relative;
}

.tracking-grid {}

.squares {
  margin-bottom: -4px;
  background-color: #3c82f2;
  width: 45px;
  height: 45px;
  /*Old border without water tiles*/
  border: 1px solid #0c66f7;
  /*New border with water tiles:*/
  border: 1px solid rgba(12, 102, 247, 0.6);
  display: inline-block;
}
.my-squares {}
.tracking-squares {}
.tracking-squares:hover {
  cursor: none;
  background-image: url("../sea-warfare-set/crosshairs.png");
  background-position:50% 50%;  /* Sets reference point to scale from */
  background-size:cover;
  /*background-color: #76a8f7;*/
}
.tracking-squares-hit {
  /*background-color: red;*/
  background: radial-gradient(red 25%,#25627d 75%);
}
.tracking-squares-hit:hover {
  background:
    url("../sea-warfare-set/crosshairs.png"),
    radial-gradient(red 25%,#25627d 75%);
    background-position:50% 50%;  /* Sets reference point to scale from */
    background-size:cover;
}
.tracking-squares-missed {
  /*New colours with the water tile:*/
  background: radial-gradient(rgb(84, 151, 214),#24617c);
  /*Old colours without the water tile:*/
  /*background: radial-gradient(#8ed2ff,#3c82f2);*/
}
.tracking-squares-missed:hover {
  background:
    url("../sea-warfare-set/crosshairs.png"),
    radial-gradient(rgb(84, 151, 214),#24617c);
    background-position:50% 50%;  /* Sets reference point to scale from */
    background-size:cover;
}

.my-ships{
  /*background-color: grey;*/
  background: url('../images/water.png');
}
.my-squares-hit {
  /*background-color: red;*/
  height: 45px;
  width: 45px;
  background: radial-gradient(red 25%, rgba(65, 116, 139, 0.5) 75%);
  /*background-color: red;*/
  position: relative;
  z-index:20;
}
.my-squares-missed {
  /*New colours with the water tile:*/
  background: radial-gradient(rgb(84, 151, 214),#24617c);
  /*Old colours without the water tile:*/
  /*background: radial-gradient(#8ed2ff,#3c82f2);*/
}
/*End of CSS for the grids:*/

footer {
  margin: 30px auto;
}
.water {
  width: 45px;
  height: 45px;
  background: url('../images/water.png');
  /*z-index: -50;*/
}
.tracking-column .water:hover {
  border: 2px solid #3c82f2;
  box-shadow: inset 0 0 5px #3c82f2;
  background:
    url("../sea-warfare-set/crosshairs.png"),
    url('../images/water.png'),
    radial-gradient(#8ed2ff,#3c82f2);
  background-position: 50% 50%;  /* Sets reference point to scale from */
  background-size:cover;
}
.water-animated {
  width: 45px;
  height: 45px;
  background: url('../images/water.png') left center;
  background-position: 0 0;
  animation: play 2s steps(15) infinite;
}
@keyframes play {
   100% { background-position: -480px; }
}

.bottom-buttons {
  margin: 25px auto 10px;
}
.ui-buttons {
  font-family: 'Orbitron', sans-serif;
  font-size: 15px;
  margin: 0 60px 0;
  padding: 13px 35px;
  border: 2px solid #2c2d2d;
  border-radius: 10px;
  background-color: transparent;
}
.ui-buttons:hover{
  color: #03a30b;
  background-color: #2c2d2d;
}
