* {
  box-sizing: border-box;
}

body {
  background: beige;
  margin: 0 auto;
  font-family: 'Orbitron', sans-serif;
}

header {
  margin: 0 auto;
  padding: 30px 20px 20px;
  text-align: center;
  background-color: grey;
}

h1 {
  text-transform: uppercase;
  font-size: 50px;
  font-weight: bold;
}

main {
  max-width: 960px;
  margin: 0 auto;
}

.grid {
  width: 350px;
  padding: 30px 0 0 30px;
  border: 1px solid blue;
  display: inline-block;
}
.my-grid {}
.tracking-grid {}

.squares {
  margin-bottom: -4px;;
  background-color: #3c82f2;
  width: 30px;
  height: 30px;
  border: 1px solid black;
  display: inline-block;
}
.my-squares {}
.tracking-squares {}
.tracking-squares-hit {
  background-color: red;
}
.tracking-squares-missed {
  background-color: white;
}

.my-ships{
  background-color: grey;
}
.my-squares-hit {
  background-color: red;
}
.my-squares-missed {
  background-color: white;
}
